/* Форма пошуку */
.searchField{
  height: auto;
  width: 350px;
  justify-content: center;
}
.selectField{
  width: 300px;
}
.priceField{
  width: 150px;
}

/* Категорії */
.categories-list {
  display: flex;
  list-style-type: none;
  padding: 0;
  justify-content: center; /* Вирівнювання по центру */
  gap: 20px; /* Відступи між категоріями */
}

.category-item {
  position: relative;
}

.category-link {
  text-decoration: none; /* Прибрати підкреслення */
  font-weight: bold;
  color: #007bff;
  transition: color 0.3s;
}

.category-link:hover {
  color: #0056b3;
}

/* Підкатегорії */
.subcategories-list {
  list-style-type: none;
  padding: 10px;
  margin: 0;
  display: none; /* Ховаємо підкатегорії за замовчуванням */
  position: absolute;
  top: 100%; /* Розташування нижче категорії */
  left: 0;
  background-color: white;
  border: 1px solid #ddd;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}

.category-item:hover .subcategories-list {
  display: block; /* Показуємо підкатегорії при наведенні */
}

.subcategory-item {
  padding: 5px 10px;
}

.subcategory-link {
  text-decoration: none;
  color: #333;
  transition: color 0.3s;
}

.subcategory-link:hover {
  color: #007bff;
}