<h1>Список категорій</h1>
<ul>
  {{#each categories}}
    <li>
      {{this.name}}
      {{#if this.subcategories}}
        <ul>
          {{#each this.subcategories}}
            <li>{{this.name}}</li>
          {{/each}}
        </ul>
      {{/if}}
    </li>
  {{/each}}
</ul>