<h2 class="text-center">Категорії</h2>
<ul class="categories-list">
  {{#each categories}}
    <li class="category-item">
      <a href="/category/{{this.id}}" class="category-link">{{this.name}}</a>
      {{#if this.subcategories}}
        <ul class="subcategories-list">
          {{#each this.subcategories}}
            <li class="subcategory-item">
              <a href="/category/{{this.id}}" class="subcategory-link">{{this.name}}</a>
            </li>
          {{/each}}
        </ul>
      {{/if}}
    </li>
  {{/each}}
</ul>